<!DOCTYPE html>
<html>
<head>
    <title>홈 페이지</title>
    <style>
        body {
            text-align: center;
        }
        .button {
            display: block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>환영합니다!</h1>
    <p>부품분석홈페이지</p>
    <a class="button" href="/api/">FastAPI 앱으로 이동</a>
    <a class="button" href="/package/">패키지 데이터 추가</a>
    <a class="button" href="/pack/">작동버튼</a>

</body>
</html>
